#report {
  position:fixed;
  top:20px;
  right:40px;
  height:400px;
  width:600px;
  overflow:auto;
  padding:1em;
  background-color:black;
  color:white;
}
#report .report-line {
  font-family:Arial, sans-serif;
  font-size:10.4pt;
}

#report .report-line.notice {
  color:#23a4ff;
}

#report .report-line.success {
  color:#52ff52;
}
#report .report-line.failure {
  color:#fd5a5a;
  font-weight:bold;
}
#report .report-line.final-result-chiffred {
  font-size:1.35em;
}
#report .report-line.final-result-chiffred.failure {
  color:#fb0202; /* plus rouge */
}
#report .report-line.pending {
  color:#30f930;
  font-weight:bold;
}


/* Pour un path de fichier */
#report .report-line.path {
  text-align: right;
  color: #999999;
  font-style:italic;

}
