body {
  padding:2em;
  margin:0;
}

/*
  Partie contenant l'interface qui va contenir le site
 */
iframe#interface {
  position:fixed;
  left:0;
  left:0;
  width:1000px;
  height:600px;
  overflow:auto;
}

/*
  Partie contenant le rapport
 */
section#report {
  position:fixed;
  top:20px;
  right:40px;
  height:400px;
  width:600px;
  overflow:auto;
  background-color:#b9b9b9;
  padding:1em;
}
/*
  Partie contenant le feuille de test en édition
 */
section#test {
  position:fixed;
  top:410px;
  overflow:auto;
  width:600px;
  right:80px;
}

section#test textarea#code {
  background-color:black;
  color:white;
  font-family:monospace;
  font-size:11.3pt;
  min-height:200px;
  width:100%;
}
