body {
  margin:0;
  padding:0;
  margin-top:40px;
}

body > section#header {
  background-color: #182863;
  color: #449eaf;
  padding-left:1em;
  padding-right:2em;
  position:fixed;
  top:0;left:0;
  width:calc(100% - 2em);
  height:36px;
  line-height:36px;
  z-index: 100;
}
body > section#header h1 {
  margin:0;
  padding:0;
  font-weight: normal;
  margin-left:0.7em;
}

body > section#footer {
  position: fixed;
  bottom:0; left:0;
  width:calc(100% - 16px);
  /* width:100%; */
  padding:2px 8px;
  background-color:#EEEEEE;
  border-top:1px solid #BBBBBB;
  text-align:right;
  z-index: 100;
}
body > section#footer span#message {
  display: inline-block;
  width:400px;
  font-size:11.1pt;
  background-color: black;
  color:white;
  text-align:left;
  margin-left:2em;
  padding:1px 8px 2px;
}
body > section#footer span#message.warning {
  color:#ff8484;
}
body > section#footer span#message.notice {
  color:#4adaff;
}
body > section#footer span#message.green {
  color:#24d424;
}

section#footer button#btn-search {
  width: 90px;
}

body > div#aide {
  position: fixed;
  top:0;left:0;
  padding:2em;
  z-index: 100;
  background-color:white;
  box-shadow: 10px 10px 10px;
  font-family:'Avenir Next';
  width: 540px;
  max-height: 300px;
  overflow: auto;
}
body > div#aide a.btn-close {
  cursor:pointer;
  font-family:Arial;
}
